<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update</title>
  <style>
  h1{
      color:green;
      font-weight:bold;
  }
  
  </style>
  </head>


  <body>
 
   
   <button type="button"><a href="/">Back</a></button>
<h1>{{title}}</h1>
{{>header}}
<h3><b>Name:</b>{{name}}</h3>
<h3><b>Date:</b>{{Date}}</h3>
<h3><b>Service:</b>{{Service}}</h3>
<h3><b>Car no:</b>{{Carno}}</h3>


<br>
<br>
 {{>footer}}
  </body>

  </html>